body {
  font-family: Helvetica, Arial, sans-serif;
}

.body-container {
  padding-top: 120px;
  width: 560px;
  margin: 0 auto;
}

#grid-size {
  margin-bottom: 120px;
}

.button:hover {
  cursor: pointer;
}

.container {
  width: 100%;
  height: 100%;
  display: inline-grid;
  border-width: 0.5px;
  border-color: rgba(0,0,0,0.25);
}

.colored {
  background-color: rgba(0,0,0,0.5);
}

.button {
  padding: 16px 40px;
  width: fit-content;
  background-color: rgba(0,0,0,0.25);
  font-weight: bold;
}

#options {
  margin-top: 40px;
}

#randomize {
  display: none;
}